body {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

h1 {
    font-family: 'Stardos Stencil', cursive;
    color: #fff;
}

h2 {
    font-family: 'Stardos Stencil', cursive;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    text-align: center;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 5px;
    margin-top: 50px;
opacity:0;
}


/*h2:after{content:"";
    height: 5px;
    background: black;
    display: block;
    border-radius:5px;
}*/


/*nav style*/

#main-nav.scroll {
    color: black;
    background-color: #fff;
}

#main-nav.scroll ul a {
    color: black;
}

.navbar-default {
    margin: 0px;
    background-color: transparent;
    position: fixed;
    color: #fff;
    z-index: 1000;
    width: 100%;
    border: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 1.5rem;
    width: 150px;
    margin-top: 5px;
    transition: 0.3s;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    border-radius: 5px;
}

.navbar-default .navbar-toggle:hover {
    background: darkgrey;
    transition: 0.2s;
}

.navbar-default .navbar-toggle:focus {
    background: red;
    transition: 0.2s;
}

.navbar-default .navbar-nav>li>a:hover {
    transition: 0.5s;
    border-top: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}


/*Header *********************************************************************************************************************************************************************/

header {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/mac-2619994_1280.jpg);
    width: 100%;
    height: 100vh;
    background-position: top;
    background-size: cover;
}

header #header-caption {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%/-50%);
    text-align: center;
    left: 0;
    right: 0;
}

header button {
    width: 150px;
    height: 50px;
    background-color: transparent;
    color: #fff;
    border-radius: 10px;
    margin-top: 25px;
    transition: 0.5s;
}

header button:hover {
    background-color: darkgray;
    transition: 0.5s;
}


/*Section About******************************************************************************************************************************************/

#about figure {
    max-width: 348px;
    max-height: 440px;
    overflow: hidden;
    position: relative;
    border-radius: 60%;
}

#about figure img {
    width: 100%;
    opacity: 0.5;
    transition: 0.4s;
    border-radius: 60%;
    transition: all 0.9s;
}

#about figure img:hover {
    opacity: 1;
    transition: all 0.9s;
}

.link {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: none;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    text-align: center;
}

.link p {
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}


/*About section--------------------------------------------------------------------------------------------------------------------------------------------------*/

#about figure:hover .link {
    background-color: #111;
    opacity: 0.8;
    transition: 0, 4s;
    display: block;
}

#about a {
    color: black;
}

#about .fa {
    margin: 10px;
}

#about .fa:hover {
    color: grey;
    transform: rotate(360deg);
    transition: 0.5s;
}

#about .row {
    margin: 0px;
}

.col-md-offset-3 {
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 15px 20px -1px rgba(0, 0, 0, 0.53);
    padding-bottom: 5px;
    padding-top: 5px;
}


/*Skills style start-------------------------------------------------------------------------------------------------------------------------------*/

#skills {
    margin-top: 50px;
}

#skills .col-md-offset-3 {
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 50px;
    box-shadow: 0px 15px 20px -1px rgba(0, 0, 0, 0.53);
    padding-bottom: 5px;
    padding-top: 5px;
}

#skills .container {
    position: relative;
    text-align: center;
}

#skills .col-md-4,
col-sm-6 {
    border-radius: 5px;
    padding: 5px;
    border-bottom: 1px solid grey;
    border-left: 1px solid grey;
    margin-top: 50px;
}

#skills .col-md-4:hover {
    background: grey;
}

figcaption {
    margin-bottom: 15px;
}

#skills img {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 10px;
}


/*popUpBtnClose style*/

.popUpBtnClose {
    position: absolute;
    z-index: 101;
    right: 1%;
    top: 1%;
    background-color: transparent;
    color: #fff;
    border: transparent;
}

/*Skills1----------------------------------------------------------------------------------------------------------------------------------------------*/

#skills1 {
    position: fixed;
    z-index: 1002;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    border: 1px solid black;
    border-radius: 5px;
    background: grey;
    opacity: 0.99;
    height: 95%;
    display: none;
    text-align: center;
    background-image:linear-gradient(rgba(40, 36, 60, 0.9),rgba(40, 36, 60, 0.9)), url(../img/code-1076533_1280.jpg);
    background-position: left top;
    background-size: cover;
    color:#fff;
}

#skills1 p{width: 80%;
    position: absolute;
    z-index: 1;;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    color:#fff;
    font-size: 2.5rem;
}




/*Skills2 style----------------------------------------------------------------------------*/

#skills2 {
    position: fixed;
    z-index: 1002;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    border: 1px solid black;
    border-radius: 5px;
   
    opacity: 0.99;
    height: 95vh;
    display:none;
    text-align: center;
    background-image:linear-gradient(rgba(40, 36, 60, 0.9),rgba(40, 36, 60, 0.9)),url(../img/code-2620118_1280.jpg);
    background-position: right;
    background-size: cover;
    color:#fff;
}

#skills2 h3{
    position: absolute;
    top:10%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation-name: animation2;
    animation-duration: 4s;
    animation-iteration-count: 3;
    
}



#skills2 .popUpBtnClose {
    position: absolute;
    z-index: 101;
    right: 1%;
    top: 1%;
}

#skills2 .row{height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

#skills #skills2 #animation-div{
    width: 280px;
    height: 280px;
    background: #fff;
    border-radius:50%;
    margin:0px;
    animation-name: animation1;
    animation-duration: 4s;
    animation-iteration-count: 3;
   
}

#skills2 #animation-div figure{
    width: 280px;
    height: 280px;
    overflow: hidden;
    border-radius:50%;
}

#skills2 #animation-div figure img{
    width: 280px;
    height: 280px;
    transition: 0.4s;
}
#skills2 #animation-div figure img:hover{
    transform:scale(1.2);
    transform: rotate(40deg);
    transition: 0.5s;
}

@keyframes animation1{
    0%   { left:0px; top:0px;}
    25%  { left:10%; top:0px;}
    50%  { left:-10%; top:10%;}
    75%  { left:0px; top:10%;}
    100% { left:0px; top:0px;}
}

@keyframes animation2{
    0%   {  color:fff;}
    25%  { color:darkgoldenrod; }
    50%  { color:fuchsia;}
    75%  {  color:red;}
    100% { color:chartreuse;}
}



/*other-----------------------------------------------*/
#skills .container-fluid {
    background-color: #3C3D3B;
    color: #fff;
}

#container-other h2 {
    border-radius: 5px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 200px;
}

#skills .container-fluid #offset-other {
    box-shadow: 0px 15px 20px -1px #fff;
}

#skills .container-fluid .fa {
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-radius: 10px;
}


/*experience section--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#experience {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/technology-785742_1280.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: bottom;
    color: #fff;
}

#experience h2 {
    color: #fff;
    border-radius: 5px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    width: 200px;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
    background-color: transparent;
    border: 1px solid #fff;
    margin-top: 50px;
    margin-bottom: 50px;
}

.list-group-item.active:hover {
    color: grey;
    border: 1px solid grey;
}

.list-group-item.active .list-group-item-text,
.list-group-item.active:focus .list-group-item-text,
.list-group-item.active:hover .list-group-item-text {
    color: #cacacd;
}


/*education section style-----------------------------------------------------------------------------------------------------------------------------------------------------------*/

#education {
    background-image: width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    text-align: center;
}

#education .col-md-6 {
   
     border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 50px;
    box-shadow: 0px 15px 20px -1px rgba(0, 0, 0, 0.53);
    padding-bottom: 5px;
    padding-top: 5px;
}


/*portfolio section style----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

#portfolio{color:#fff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/blur-1853305_1280.jpg);
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
}

#portfolio h2{margin-bottom:     35px;
    border-color: #fff;
}

h5{
    margin:0px;
    color:grey;
    text-align: center;
    padding: 5px;
}



#portfolio .col-md-6{border-radius:5px;
     box-shadow: 0px 15px 20px -1px #fff;
    margin-bottom: 30px;
}




#portfolio img{text-align: center;
  width: 100%;
    border-radius: 5px;
}

.img-fgr{margin: 0px;
    width: 100%;
    height: auto;
    background-color: black;
}

#portfolio .btn{text-align: center;
     width: 150px;
    height: 50px;
    background-color: transparent;
    color: #fff;
    border-radius: 10px;
    margin-top: 25px;
    transition: 0.5s;
    margin-bottom: 10px;
}

#portfolio .btn:hover{
    color:grey;
    transition:0.3s;
    border-color:grey;
}

#portfolio figure{
    position: relative;
    
}

.img-mask{top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    z-index:400;
    color: #fff;
    border-radius:5px;
    opacity:0;
    transition: 0.3s;
    text-align: center;
    border-bottom:1px solid #fff;
    border-left: 1px solid #fff;
   
}

.img-mask:hover{
    opacity:0.8;
    transition: 0.3s;
  
}

.img-mask p{
  padding:10px;
   margin-top: 30%;
}



/*footer-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

footer{
 background-color: #3C3D3B;
    color:#fff;
}


img-footer{
    background-color: grey;
}


.img-footer figure{
    overflow: hidden;

    
}
    
.img-footer img{
    width: 100px;
    border-radius: 50%;
}

.img-footer img:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

footer h2{border-color:#fff;
    color:#fff;
    margin-bottom: 35px;
}

footer a{
    color:#fff;
}

footer .fa{
    margin: 10px;
}

